    /* 
    --background: #151616
    --darker: #1f2937
    --Blue: #148DD3
    --midBlue: #0E6394
    --lightBlue: #17A0EF
    --white : white
    --black: black
    --purple: #8B5cf6
    --pink: #ec4899
    --gray: #6b7280 */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction:  column;
    min-height: 100vh;
    background: #151616;
    color: #148DD3;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #148DD3;
}

#new-task {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: #0E6394
}

#new-task-input {
    flex: 1 1 0%;
    background-color: #1f2937;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    color: #17A0EF;
    font-size: 1.25rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

#new-task-create {
    color: #8B5cf6;
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #ec4899, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
} 

#new-task-create:hover {
    opacity: 0.8;
}

#new-task-create:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #6b7280;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 1rem;
    border-radius:1rem;
    margin-bottom: 1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

#tasks .task .content .text{
    color: #6b7280;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}